a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mask {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 1.5rem;
  display: none;
  z-index: 1000;
}

.sk-folding-cube {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #af122e;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}


/* Main wraper */
.form-data-modules { max-width: 1140px; margin: auto; }
.ui_setup-processed,
.ui_setup-processed * { box-sizing: border-box; }

.ui_setup-processed input[type="reset"],
.ui_setup-processed input[type="submit"] { background-color: #999999; color: #FFFFFF; text-shadow: none; }
.ui_setup-processed input[type="reset"]:hover,
.ui_setup-processed input[type="submit"]:hover { background-color: #008EB3; color: #FFFFFF; text-shadow: none;  }

#addsection-wrapper-all { display: none; }
/* main titles */
.builder-section-title,
.page-builder-title { 
  font-size: 20px;
  color: #4A4A4A;
  font-weight: 700;
  text-transform: uppercase;
  background: url("../img/doc-title.png") no-repeat 0 0;
  padding-left: 30px;
  margin-bottom: 35px;
  padding-right: 25px;
  display: inline-block;
}
.form-item-title { margin-bottom: 90px; }
.form-item-title label { font-size: 16px; }


/* info tooltip */
.icon-info {
  position: relative;
}
.icon-info span {
  background: url("../img/icon-info.png") no-repeat 0 0;
  width: 25px;
  height: 25px;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left !important;
  position: relative;
  top: 5px;
}
.info-popup {
  position: absolute;
  left: 20px;
  top: -20px;
  width: 200px;
  padding: 10px;
  border: 1px dashed #c0c0c0;
  background-color: #FBFBFB;
  color: #000000;
  display: none;
}
.icon-info:hover .info-popup {
  display: block;
}


/* content title */
.main-block-title {
   background: #4A4A4A;
   color: #FFF;
   font-size: 20px;
   padding: 1.25rem;
   text-transform: uppercase;
   font-weight: 700;
   border-radius: 3px 3px 0 0;
   margin: 0;
}
/* tabs new content */
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list { display: block; border-bottom: 1px solid #CCCCCC; background: #FFF; padding-top: 35px; }
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list:after { content: ""; display: block; clear: both; }
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list li:first-child { margin-left: 10px; }
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list li { padding: 0 !important; position: relative; border: 1px solid #CCCCCC; border-bottom: none; }
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list li a,
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  padding: 15px 70px 15px;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #CCCCCC; color: #636363;
}
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list li a:hover { background: #E6E6E6; }
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list li.selected:after { content: ""; display: block; position: absolute; top: 100%; left: 0; height: 1px; width: 100%; background: #FFF; }
.ui_setup-processed .horizontal-tabs ul.horizontal-tabs-list li.selected a { background-color: #FFFFFF !important; color: #4A4A4A;  }
#addsection-wrapper { position: relative; }
#addsection-wrapper .horizontal-tabs-panes { position: relative; clear: both; }
#addsection-wrapper .horizontal-tabs-panes fieldset { margin: 0; padding: 30px 0 0 0; background: #FFFFFF; }

/* TABS - Search/select/close */
#sections-type-filter,
#sections_type_filter_chosen, 
#sections-new-type-filter,
#sections_new_type_filter_chosen {
  right: 110px;
  position: absolute;
  top: -65px;
}
#sections_type_filter_chosen.chosen-container-single .chosen-single,
#sections_new_type_filter_chosen.chosen-container-single .chosen-single { height: 39px; line-height: 39px; }
#sections_type_filter_chosen.chosen-container-single .chosen-single div b,
#sections_new_type_filter_chosen.chosen-container-single .chosen-single div b { margin-top: 8px; }
#sections_type_filter_chosen.chosen-container-single .chosen-search input[type="text"],
#sections_new_type_filter_chosen.chosen-container-single .chosen-search input[type="text"] {  background: url(../img/ico-search.png) no-repeat right 0; padding: 0.715em 0.70711em !important; }
#sections-search-input {
  right: 370px;
  padding: 2px;
  position: absolute;
  top: -72px;
  width: 200px;
  background: url(../img/ico-search.png) no-repeat right 2px;
  padding: 0.715em 0.70711em !important;
}
.close-button a,
.ui_setup-processed .ief-entity-operations input[value="Remove"] {
  background: url("../img/close_cross.png") no-repeat 0 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  text-align: left !important;
  text-indent: -9999px;

  position: absolute;
  right: 20px;

  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.close-button a:hover { background-position: 0 -24px; }
.sections-close a { top: -42px; }
.editsection-close a { top: 19px; }
.ui_setup-processed .ief-entity-operations { padding-top: 27px; }
.ui_setup-processed .ief-entity-operations input[value="Edit"] { float: left; display: block; }
.ui_setup-processed .ief-entity-operations input[value="Remove"] { float: left; display: block; margin: 9px 0 0 30px; background: url("../img/close_cross.png") no-repeat 0 -48px; position: static;}
.ui_setup-processed .ief-entity-operations input[value="Remove"]:hover { background: url("../img/close_cross.png") no-repeat 0 -72px; }
.editexistingsection-close { }


/* List content */
#edit-addsectiontabs-tabs-newsection .fieldset-wrapper, 
#edit-addsectiontabs-tabs-existingsection .fieldset-wrapper {
  height: 66vh;
  overflow-y: auto;
}
/** .data-module-wrapper **/
.data-module-wrapper {
  position: relative;
  background: #FFF;
  border: 1px solid #CCCCCC;
  float: left;
  width: 32%;
  min-height: 130px;
  display: block;
  list-style: none;
  margin: 0 1% 20px 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.data-module-wrapper:hover { border-color: #B3B3B3; }
.data-module-wrapper > a { color: #4A4A4A !important;}
.data-module-wrapper a:hover .section-image-wrapper { background: #B3B3B3; }
  .section-image-wrapper {
    text-align: center;
    position: absolute;
    width: 21%;
    height: 100%;
    display: block;
    background: #CCCCCC;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .section-image-wrapper img {
    margin: 0;
    display: inline-block;
  }
  .section-info-wrapper { 
    min-height: 100px;
    width: 79%;
    padding: 22px 15px 0;
    float: right;
  }
  .section-info-wrapper h4 { 
    margin: 0 0 3px;
    font-size: 16px;
    font-weight: 700;
  }
  .section-info-wrapper p {
    margin: 0 0 10px;
    font-size: 14px;
  }
  #addsection-wrapper .section-info-wrapper p {
    font-size: 12px;
  }

  /* div wrapper */
  div.data-module-wrapper { clear: both; width: 100%; background: transparent; margin-bottom: 0; border-width:0 2px; padding: 1.5rem;}
  div.data-module-wrapper .section-image-wrapper { width: 100px; float: left; position: static;}
  div.data-module-wrapper .section-info-wrapper { float: left;}


.ief-form { background: #FFF; border: 1px #ccc solid; padding: 1.5rem; }
.ief-form fieldset { margin: 0; }
.ui_setup-processed .chosen-processed.form-select { padding: 0; background: none; }


/* Add Section */
.addsection-header { position: relative; background: #FFF; }
.addsection-header:after { content: ""; display: table; clear: both; }
#addsection-button-wrapper {
  width: 100%;
  background-color: #dedede;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 3rem;
}
#addsection-button-wrapper #addsection-button {
  background: #007998;
  text-transform: uppercase;
  width: 360px;
  margin: 0 auto;
  height: 65px;
  display: block;
  text-shadow: none;
  color: #FFF;
  font-size: 20px;
  box-shadow: 0 1px 2px #999;
}
.ui_setup-processed .form-submit.ief-entity-submit{
  background: #007998;
}
.ui_setup-processed .form-submit.ief-entity-submit:hover,
#addsection-button-wrapper #addsection-button:hover {
  background: #008EB3;
}

.ui_setup-processed .form-submit.ief-entity-submit { margin-top: 50px; display: inline-block; }


/* Dragable section */
.table-type-widgets > thead, 
.table-type-embeddablecontent > thead { display: none; }
.tabledrag-processed tbody { border: none; }
.tabledrag-processed tr { border: none !important; background: #FFF !important; }
.tabledrag-processed td { border-width: 2px 0 0 0; border-style: solid; border-color:#CCCCCC; padding-top: 20px; padding-bottom: 20px; }
.tabledrag-processed tr:last-child td,
.row-delete-wrapper td { border-bottom-width: 2px; }
.tabledrag-processed td.ief-tabledrag-handle,
.tabledrag-processed td.field-multiple-drag { width: 20px !important; border: none; position: relative; }
.tabledrag-processed td.field-multiple-drag + td { border-right-width: 2px; }
.tabledrag-processed td:first-child { border-left-width: 2px; }
.tabledrag-processed td:last-child { border-right-width: 2px; border-radius: 0 2px 2px 0; width: 165px; }
.tabledrag-processed .tabledrag-handle div.handle { position: absolute; top: 0; left: 0; margin: 0; height: 100%; width: 20px; background: #CCCCCC; border-radius: 2px 0 0 2px; }
.tabledrag-processed .tabledrag-handle div.handle:before { color:#979797; position: absolute; top: 50%; left: 50%; margin: -5px 0 0 -5px; }
.tabledrag-processed .drag { box-shadow: 0 0 9px rgba(0,0,0,.25); }
.tabledrag-processed .drag td { border-color:#007998; border-bottom-width: 1px; }
.tabledrag-processed .drag .tabledrag-handle div.handle { background: #007998; border-color: #007998; }
.tabledrag-processed .drag .tabledrag-handle div.handle:before { color: #FFF; }
.tabledrag-processed .drag-previous td { border-color:#008EB3; border-bottom-width: 2px; }
.tabledrag-processed .drag-previous .tabledrag-handle div.handle { background: #008EB3; border-color: #008EB3; }
.tabledrag-processed .drag-previous .tabledrag-handle div.handle:before { color: #FFF; }
td { border-color:#983700; border-bottom-width: 1px; }
td.delete-section-td { width: 650px !important; }
td.delete-section-td .form-wrapper.ief-form-row { padding-top: 20px; border: none !important}
td.delete-section-td h4 { float: left; margin-right: 50px; }
td.delete-section-td .form-item { margin: 0; }
td.delete-section-td label.option { color: #999; font-size: 12px; margin: 0; }
td.delete-section-td input:first-child { background-color: #983700; color: #FFF; }
td.delete-section-td input:first-child:hover { background-color: #A24B19; }
td.delete-section-td .form-wrapper input:last-child { background: transparent; color: #000; }

.added-module-wrapper .module-image { width: 100px; float: left; background: #CCCCCC; text-align: center; }
.added-module-wrapper .module-image img { margin: 0; display: inline-block; }
.added-module-wrapper .module-content { float: left; margin-left: 25px; padding-top: 30px; }
.added-module-wrapper .module-content span { color: #999999; font-size: 12px; font-weight: 700; }
.added-module-wrapper .module-content h5 { color: #4A4A4A; font-size: 16px; margin: 0; }

.table-type-embeddablecontent .added-module-wrapper .module-content { padding-top: 0; }
.table-type-embeddablecontent .added-module-wrapper .module-content .field-name-field-ecig-images > .field-items > .field-item {
  float: left;
  margin-right: 15px;
}
.table-type-embeddablecontent .added-module-wrapper .module-content .field-items > .field-item img {
  margin: 0;
}


.field-multiple-table thead th { border: none; }
th label { padding: 20px 20px 0 0; margin-bottom: 25px !important;  text-transform: uppercase; display: block; width: 100%; color: #333; font-weight: 400; font-size: 1.286rem !important; }
.ief-row-form > td { border: none; }

/* form */

.ui_setup-processed input#edit-title,
.ief-form input[type="color"],
.ief-form input[type="date"],
.ief-form input[type="datetime"],
.ief-form input[type="datetime-local"],
.ief-form input[type="email"],
.ief-form input[type="file"],
.ief-form input[type="month"],
.ief-form input[type="number"],
.ief-form input[type="password"],
.ief-form input[type="range"],
.ief-form input[type="search"],
.ief-form input[type="tel"],
.ief-form input[type="text"],
.ief-form input[type="time"],
.ief-form input[type="url"],
.ief-form input[type="week"],
.ief-form select,
.ief-form textarea {
  padding: 0.75rem 0.7rem;
  border-width: 2px;
 
}
.ief-form input[type="color"].error,
.ief-form input[type="date"].error,
.ief-form input[type="datetime"].error,
.ief-form input[type="datetime-local"].error,
.ief-form input[type="email"].error,
.ief-form input[type="file"].error,
.ief-form input[type="month"].error,
.ief-form input[type="number"].error,
.ief-form input[type="password"].error,
.ief-form input[type="range"].error,
.ief-form input[type="search"].error,
.ief-form input[type="tel"].error,
.ief-form input[type="text"].error,
.ief-form input[type="time"].error,
.ief-form input[type="url"].error,
.ief-form input[type="week"].error,
.ief-form select.error,
.ief-form textarea.error {
  border-color: #983700 !important;
  color: #983700 !important;
}
.ief-form input[type="color"]:focus,
.ief-form input[type="color"]:active,
.ief-form input[type="date"]:focus,
.ief-form input[type="date"]:active,
.ief-form input[type="datetime"]:focus,
.ief-form input[type="datetime"]:active,
.ief-form input[type="datetime-local"]:focus,
.ief-form input[type="datetime-local"]:active,
.ief-form input[type="email"]:focus,
.ief-form input[type="email"]:active,
.ief-form input[type="file"]:focus,
.ief-form input[type="file"]:active,
.ief-form input[type="month"]:focus,
.ief-form input[type="month"]:active,
.ief-form input[type="number"]:focus,
.ief-form input[type="number"]:active,
.ief-form input[type="password"]:focus,
.ief-form input[type="password"]:active,
.ief-form input[type="range"]:focus,
.ief-form input[type="range"]:active,
.ief-form input[type="search"]:focus,
.ief-form input[type="search"]:active,
.ief-form input[type="tel"]:focus,
.ief-form input[type="tel"]:active,
.ief-form input[type="text"]:focus,
.ief-form input[type="text"]:active,
.ief-form input[type="time"]:focus,
.ief-form input[type="time"]:active,
.ief-form input[type="url"]:focus,
.ief-form input[type="url"]:active,
.ief-form input[type="week"]:focus,
.ief-form input[type="week"]:active,
.ief-form select:focus,
.ief-form select:active,
.ief-form textarea:focus,
.ief-form textarea:active {
  border-color: #007998 !important;
}
.colortheme-warning {
  color: #FF0000 !important;
  font-size: 1rem !important;
}
ul.tips,
div.description,
div.admin-panel div.description,
.form-item div.description { font-size: 1rem !important; color: #999 !important; opacity: 1 !important; }
/* edit form module */
.ief-form { margin: 0; border: 2px solid #CCCCCC !important; padding: 20px !important; }
.ief-form h3 { font-size: 16px; }
.ief-form label { font-size: 16px; margin-bottom: 5px; }
.ief-form .form-item { margin-bottom: 20px; }
.ief-form .field-type-field-collection { position: relative; margin: 0 -20px; padding: 50px 20px 0; }
.ief-form .field-type-field-collection fieldset { position: relative; margin: 0 -20px; padding: 70px 20px 0; }
.ief-form .field-type-field-collection span.fieldset-legend { position: absolute; top: 0; left: 0; padding: 20px 20px 0; border-top: 1px solid #CCCCCC; text-transform: uppercase; display: block; width: 100%; }
.ief-form .field-type-field-collection .fieldset-wrapper span.fieldset-legend { border-top: none ; }
.ief-form .field-type-field-collection fieldset fieldset span.fieldset-legend { width: calc(100% + 40px); }
.ief-row-form > td > div.form-wrapper .fieldset-legend { text-transform: uppercase; border-top: 1px solid #CCCCCC; }


#edit-group_categorization .form-wrapper { margin-bottom: 15px; }
#edit-group_categorization .chosen-container-multi .chosen-choices a { transition: none; }
#edit-group_categorization .chosen-container-multi .chosen-choices {
  margin: 0.35355em 0px;
  padding: 0.75rem 0.7rem;
  max-width: 100%;
  border: 2px solid #DDD;
  border-radius: 2px;
  box-shadow: none;
}
#edit-group_categorization .chosen-container-multi.chosen-container-active .chosen-choices { border-color: #007998 !important; }
/** nn **/
#edit-field-widgets > div > fieldset.form-wrapper > .fieldset-wrapper > div.container-inline, 
#edit-field-widgets > div > fieldset.form-wrapper > .fieldset-wrapper > fieldset.form-wrapper { display: none; }

.field-name-field-attributes > div > fieldset > legend { display: none;}
.field-name-field-attributes > div > fieldset, 
.field-name-field-attributes, 
.field-name-field-buttons {
  padding-top: 0 !important;
}

.media-widget .form-type-textfield input.form-text {
  width: 710px !important;
}