/* ==========================================================================
   #Shared styles - Mainly for setting bottom margin
   ========================================================================== */

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre, input, button, .c-btn,
textarea {
  margin: 0 0 $base-spacing;
  padding: 0;
}