/* ==========================================================================
   #Alerts
   ========================================================================== */

/*doc
---
title: Success
name: alert_success
category: Components - Alert
---

Success alert used in drupal.  Mainly displayed after saving or 
creating content.

```html_example
<div class="c-alert--success">
 [content]
</div>
```
*/

%c-alert {
	border-radius: $br-default;
	color: rgba(255, 255, 255, .7);
	padding: $base-spacing;
}

.c-alert--success {
	@extend %c-alert;
	background-color: #CEF7A0;
	color: rgba(0,0,0,.3);
}





/*doc
---
title: Error
name: alert_error
category: Components - Alert
---

Error alert used in drupal.  Mainly displayed when there are PHP errors,
out-of-date modules or core.

```html_example
<div class="c-alert--error">
 Guess what... you have 4,000 modules out-of-date!
</div>
```
*/

.c-alert--error {
	@extend %c-alert;
	background-color: #F13030;
}


