/* ==========================================================================
   Buttons
   ========================================================================== */

/*doc
---
title: Button sizes
name: button-sizes
category: Components - Button
---

Here are the following button sizes and their modifier classes.

Button  |  Modifier Class 
--------|-----------------------------------------
<button class="c-btn c-btn--small">Small button</button> | `btn btn--small`
<button class="c-btn c-btn--default">Default button</button> | `btn btn--default`
<button class="c-btn c-btn--medium">Medium button</button> | `btn btn--medium`
<button class="c-btn c-btn--large c-btn--blue">Large button</button> | `btn btn--large`
*/


/* Dynamic button mixin
  ========================================================================== */

@mixin btn($name, $bg, $color, $brw:"", $brc:"") {
 .c-btn--#{$name} {
   background-color: $bg;
   @if $brw != "" and $brc != "" {
	   border: $brw solid $brc;
	 }
   color: $color;
	
   @include btn-hover($bg);  
   @include btn-links($bg, $color); 
 } 
}

@mixin btn-hover($bg) {
 &:hover {
		background-color: lighten($bg, 5%);
	}
}

@mixin btn-links($bg, $color) {
	&:link,
	&:visited { color: $color; }
	&:focus { background-color: darken($bg, 5%); }
}

@mixin btn-size($name, $font-size) {
 .c-btn--#{$name} {
	  font-size: $font-size;
	}
}





/* Static button styles
  ========================================================================== */

.c-btn {
	border: 0;
	color: #fff;
	display: inline-block;
	font-family: $f-sans;
	font-size: 1rem;
	line-height: 1;
	padding: .75rem 1rem;
	-webkit-font-smoothing: antialiased;
	background-color: palette(brand, primary);
  &:link, &:visited { color: #fff; }
  &:hover { background-color: lighten(palette(brand, primary), 5%) }
  &:focus { background-color: darken(palette(brand, primary), 5%) }
}

// Generates BEM class names for buttons

@include btn-size('small', .8rem);
@include btn-size('default', 1rem);
@include btn-size('medium', 1.3rem);
@include btn-size('large', 1.8rem);

@include btn('primary', palette(brand, primary), #fff);




