/* ==========================================================================
   Featured Pane
   ========================================================================== */

/*doc
---
title: Default
name: featured-pane
category: Components - Featured Pane
---

Featured panes inherit the `.box` object which can be found in `objects/_box.scss`

```html_example
<div class="o-box c-featured-pane" style="background: url('http://placehold.it/1500x500');">
	<h4 class="c-featured-pane__source">Blog Post</h4>
	<h3 class="c-featured-pane__title">How to create an unscripted leadership platform of your own</h3>
</div>
```
*/

/* Full size featured pane
   ========================================================================== */

.c-featured-pane {
	background: palette(gray,medium-dark);
	min-height: 400px;

	&__source {
		color: #fff;
		font-size: 1.1rem;
		margin: 0;
	}

	&__title {
		color: #fff;
		font-size: 1.875rem;
		margin: 0;
	}
    &__quote {
        background: transparent;
        padding: 0;
        border:none;
        color: #fff;
        font-size: 3rem;
        font-family: $f-sans;
        font-weight: $light;
        cite {
          font-style: normal;
          font-weight: $light;
          display: inline-block;
          font-size: 3rem;
        }
    }
}





/*doc
---
title: Small
name: featured-pane-small
category: Components - Featured Pane
---

Featured panes inherit the `.box` object which can be found in `objects/_box.scss`

```html_example
<div class="o-box c-featured-pane--small">
	<h4 class="c-featured-pane__source">Blog Post</h4>
	<h3 class="c-featured-pane__title">How to create an unscripted leadership platform of your own</h3>
</div>
```
*/

.c-featured-pane--small {

	background: #666;
	// Sets border for smaller pane
	border: 1px solid #fff;

	// Shrinks source text
	.c-featured-pane__source {
		font-size: 1rem;	
	}
	
	// Shrinks title text
	.c-featured-pane__title {
		font-size: 1.2rem;
	}
}