/* ==========================================================================
   List UI
   ========================================================================== */

/*doc
---
title: Default
name: list-ui
category: Components - List UI
---

Provides default styling for a list with a bottom border. This extends `.o-nav` and `.o-nav--stacked` in order to create stacked list.

```html_example
<ul class="o-nav o-nav--stacked c-list-ui">
	<li class="c-list-ui__item">
		<a class="c-list-ui__link" href="#">Link one</a>
	</li>
	<li class="c-list-ui__item">
		<a class="c-list-ui__link" href="#">Link two</a>
	</li>
</ul>
```
*/

.c-list-ui {
	
	&__item {
		border-bottom: 1px solid #ececec;
		padding: .75rem 0;
	}

	&__link {

		&:hover {
			color: #333;
		}
	}
}





/*doc
---
title: Blocky
name: list-ui-blocky
category: Components - List UI
---

This creates a large hit-area for the link and also applies hover styling.

```html_example
<ul class="o-nav o-nav--stacked c-list-ui--blocky">
	<li class="c-list-ui__item">
		<a class="c-list-ui__link" href="#">Link one</a>
	</li>
	<li class="c-list-ui__item">
		<a class="c-list-ui__link" href="#">Link two</a>
	</li>
</ul>
```
*/

.c-list-ui--blocky {
	
	.c-list-ui__item {
		padding: 0;
	}
	
	.c-list-ui__link {
		
		padding: .75rem 0;

		&:hover {
			color: #fff;
			background: #666;
		}
	}
}





/*doc
---
title: Extra text
name: list-ui-text
category: Components - List UI
---

Shows default `list-ui` with extra text.

```html_example
<ul class="o-nav o-nav--stacked c-list-ui">
	<li class="c-list-ui__item">
		<a class="c-list-ui__link" href="#">Link one</a>
		29 Sep, 2015 | New York, NY
	</li>
	<li class="c-list-ui__item">
		<a class="c-list-ui__link" href="#">Link two</a>
		29 Sep, 2015 | New York, NY
	</li>
</ul>
```
*/
