/* ==========================================================================
   Logo component
   ========================================================================== */

/*doc
---
title: Logo
name: logo
category: Components - Logo
---

Contains all variations of client logos for a given project.

```html_example
<a href="#" class="c-logo--default"></a><br>
<a href="#" class="c-logo--reversed"></a>
```
*/

// Sets display for logo component
%c-logo { display: block; }

// Default logo
.c-logo--default {
	@extend %c-logo;
	background: url('https://placeholdit.imgix.net/~text?txtsize=26&txt=Logo&w=230&h=70');
	width: 230px;
	height: 70px;
}

// Inverted logo 
.c-logo--reversed {
	@extend %c-logo;
	background: url('https://placeholdit.imgix.net/~text?txtsize=26&txt=Logo&w=300&h=200');
	width: 300px;
	height: 200px;
}
