/* ==========================================================================
   #Overlay
   ========================================================================== */

// Overlay for mobile menu.
.c-overlay {
	@include transform(translateX(70%));
	background: #000;
	height: 100%;
  opacity: 0;
  position: fixed;
	top: 0;
	visibility: hidden;
  width: 100%;
  z-index: 9998;
}

// Show overlay when active.
.c-overlay.is-active {
	visibility: visible;
	@include animation(fadeInOverlay .3s cubic-bezier(0.42, 0.0, 0.58, 1.0) .2s);
	@include animation-fill-mode(forwards);
}