/* ==========================================================================
   #Header component
   ========================================================================== */

/*doc
---
title: Page head
name: page-head
category: Components - Page Head
---

Inside the header component lives the `.c-logo` component as well as the `.c-primary-nav`.

```html_example
<div class="c-page-head">

	<!-- Includes logo component -->
	<a href="#" class="c-logo--default"></a>

	<!-- Includes primary-nav component -->
	<div class="c-primary-nav">
		[primary-nav code here]
	</div>
</div>
```
*/
   
.c-page-head {
	background: #bbb;
	min-height: rem(70);
    line-height: rem(70);
	padding: 1.5rem 0;
	width: 100%;
    a {
      color:palette(gray,medium-dark);
      text-transform: uppercase;
    }
}

.c-icon-link {

}

