/* ==========================================================================
   #Pager
   ========================================================================== */

/*doc
---
title: Pager
name: pager
category: Components - Pager
---

Default pager styling tailored to the output of a standard drupal pager.

```html_example
<div class="c-pager__wrapper">
  <ul class="c-pager">
    <li class="c-pager__item c-pager__previous first">
      <a title="Go to previous page" href="#">‹ previous</a>
    </li>
    <li class="c-pager__item">
      <a class="c-pager__link" title="Go to page 1" href="#">1</a>
    </li>
    <li class="c-pager__item">
      <a class="c-pager__link" title="Go to page 2" href="#">2</a>
    </li>
    <li class="c-pager__item is-selected unavailable">
      <a class="c-pager__link is-active" title="Go to page 3" href="#">3</a>
    </li>
    <li class="c-pager__item">
      <a class="c-pager__link" title="Go to page 4" href="#">4</a>
    </li>
    <li class="c-pager__item">
      <a class="c-pager__link" title="Go to page 5" href="#">5</a>
    </li>
    <li class="c-pager__item">
      <a class="c-pager__link" title="Go to page 6" href="#">6</a>
    </li>
    <li class="c-pager__item">
      <a class="c-pager__link" title="Go to page 7" href="#">7</a>
    </li>
    <li class="c-pager__item">
      <a class="c-pager__link" title="Go to page 8" href="#">8</a>
    </li>
    <li class="c-pager__item">
      <a class="c-pager__link" title="Go to page 9" href="#">9</a>
    </li>
    <li class="c-pager__item c-pager__next last"><a title="Go to next page" href="#">next ›</a></li>
  </ul>
</div>
```
*/



.c-pager {

	// Pager item
	&__item {
		display: inline;
	}

	// Pager link
	&__link {
		background-color: #ececec;
		color: palette(brand, primary);
		display: inline-block;
		padding: .5rem;

		&:hover {
			background-color: lighten( #ececec, 5%);
		}
	}
}