/* ==========================================================================
   #Footer component
   ========================================================================== */


/*doc
---
title: Page Footer
name: page-foot
category: Components - Page Foot
---

Inside the header component lives the `.c-logo` component as well as the `.c-footer-nav`.

```html_example
<footer>
  <div class="o-grid">

	<!-- Includes logo component -->
	<a href="#" class="c-logo--default"></a>

	<!-- Includes primary-nav component -->
	<div class="c-footer-nav">
		[footer-nav code here]
	</div>

  </div>
</footer>
```
*/

.c-page-foot {
    background: palette(gray,medium-dark);
	min-height: rem(50);
	width: 100%;
    a {
      color:palette(gray, light);
      text-transform: none;
    }
}
