/* ==========================================================================
   #Primary nav component
   ========================================================================== */

/*doc
---
title: Primary Nav
name: primary-nav
category: Components - Primary Nav
---

```html_example
<ul class="c-primary-nav">
	<li class="c-primary-nav__item">
		<a href="#" class="c-primary-nav__link">About</a>
	</li>
	<li class="c-primary-nav__item">
		<a href="#" class="c-primary-nav__link">Contact Us</a>
	</li>
</ul>
```
*/

/* List class
   ========================================================================== */

.c-primary-nav {
	padding: 0;

	// Sets styles for primary-nav when it's off canvas.
	@include media($small-medium) {
		position: fixed;
		width: 70%;
		height: 100%;
		top:0;
		display: none;
	}

	// Pulls primary-nav into view (mobile menu).  Gives it a BG color.
	&.is-active {
		background-color: #000;
		left: -70%;
		display: block;
	}
}


/* List items class
   ========================================================================== */

.c-primary-nav__item {
	position: relative;
	margin: 0 1rem;

	@include media($large) {
		display: inline-block;
        font-size:rem(18);
	}

	// Only effect items that have drop-downs
	&.has-dropdown:hover {

		// Wrapper around the drop-nav | shows the drop-downs
		.c-drop-nav__wrap  {
			visibility: visible;
			opacity: 1;
		}
	}

	.c-primary-nav__link {
		@include media($small-medium) {
			display: block;
		}
	}
}


/* Drop-down
   ========================================================================== */

// Hides the drop-nav by default
// Uses height & width of 0 to make the CSS transition work.

.c-drop-nav__wrap {
	opacity: 0;
	visibility: hidden;
	
	// Hides drop-down only on small-medium screens.
	@include media($small-medium) {
		display: none;
	}

	@include media($large) {
		@include  transition(all .2s ease-in-out);
		background: palette(brand, secondary);
		min-width: 150px;
		overflow: hidden;
		padding: 1rem;
		position: absolute;
		top: 100%;
	}

	&.is-expanded {
		visibility: visible;
		opacity: 1;
		display: block;
	}
}

// Remove bottom margin from drop-nav list.
.c-drop-nav {
	margin-bottom: 0;
}




/* Mobile toggle link
   ========================================================================== */

.c-mobile-toggle {
	display: block;

	@include media($large) {
		display: none;
	}
}