/* ==========================================================================
   #Sharebar 
   ========================================================================== */

/*doc
---
title: Sharebar
name: sharebar
category: Component - Sharebar
---

Provides social icon links in a simple list.

```html_example
<div class="c-sharebar">
      <a href="" title="link-1"></a>
      <a href="" title="link-2"></a>
      <a href="" title="link-3"></a>
</div>
```
*/

.c-sharebar {
  a {
    background: palette(gray,medium-dark);
    padding: 1rem;
    display: none;
    border-radius: 1rem;
      @include media($large) {
        display: inline-block;
      }
  }
}


// .c-sharebar--default {

// }

// .c-sharebar--white {

// }

// .c-sharebar--dark {

// }