/* ==========================================================================
   #Slide
   ========================================================================== */

/*doc
---
title: Slides
name: slides
category: Component - Slides
---

Provides simple slide componets.

```html_example
<div class="o-band">
  <div class="o-grid">
    <ul class="bg-sm-2 bg-md-4 bg-lg-4">
      <li><div class="c-slide--top-padded wf"><h4 class="c-slide__title">Once upon a time, in a land far away.</h4></div></li>
      <li><div class="c-slide--top-padded wf"><h4 class="c-slide__title">Once upon a time, in a land far away.</h4></div></li>
      <li><div class="c-slide--top-padded wf"><h4 class="c-slide__title">Once upon a time, in a land far away.</h4></div></li>
      <li><div class="c-slide--top-padded wf"><h4 class="c-slide__title">Once upon a time, in a land far away.</h4></div></li>
    </ul>
  </div>
</div>
```
*/

.c-slide {
  @extend .o-box;
  border-radius: 1rem;
  &__title {
    color:palette(gray,medium-dark);
    margin-bottom: 0;
  }
}

.c-slide--top-padded {
  @extend .c-slide;
  padding: 8rem $small-spacing $small-spacing;
}