/* ==========================================================================
   #Teaser component
   ========================================================================== */

/*doc
---
title: Teaser
name: teaser
category: Components - Teaser
---

This is the teaser component which has multiple variations.  Take a look at the `Teaser with image` section to see a full example.

```html_example
<div class="c-teaser">
	<h4 class="c-teaser__source">Articles</h4>
	<h3 class="c-teaser__title">
		<a href="#" class="c-teaser__link">An Intranet Manager's guide to project success</a>
	</h3>
	<div class="c-teaser__content">
		Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
	</div>
</div>
```
*/


.c-teaser {

    // Teaser image
    &__image {

    }

	// Teaser source
	&__source {
		font-weight: 600;
		color: palette(brand, secondary);
		margin-bottom: 0;
	}
	
	// Teaser title
	&__title {
		color: #666;
		font-size: 1.5rem;
		margin-bottom: 0;
	}

	// Teaser title link
	&__link {
		color: palette(brand, primary);
	}

	// Teaser content
	&__content {
		color: #666;
		font-size: 1rem;
	}

	// Byline
	&__byline {
		color: #666;
	}

    // alternating rows

    &--alternate-small {
        @include media($small) {
            @include alternate-float;
        }
    }

    &--alternate-medium {
        @include media($medium) {
            @include alternate-float;
        }
    }

    &--alternate-large {
        @include media($large) {
            @include alternate-float;
        }
    }

}



/*doc
---
title: Teaser with image
name: teaser_with_image
category: Components - Teaser
---

```html_example
<div class="o-grid">
  <div class="c-teaser">
    <div class="lg-3 c-teaser__image">
      <img src="http://placehold.it/200x125">
    </div>
    <div class="lg-9">
      <h4 class="c-teaser__source">Articles</h4>
   	  <h3 class="c-teaser__title">
   	    	<a href="#" class="c-teaser__link">An Intranet Manager's guide to project success</a>
   	  </h3>
   	  <div class="c-teaser__content">
   	    	Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
   	  </div>
    </div>
  </div>
</div>
```
*/


/*doc
---
title: Teaser in UI Row
name: teaser_ui_row
category: Components - Teaser
---

This is an example of how to use the teaser component with the `ui-row` object to get padding and a border.

```html_example
<div class="o-ui-row">
	<div class="c-teaser">
		<h4 class="c-teaser__source">Articles</h4>
		<h3 class="c-teaser__title">
			<a href="#" class="c-teaser__link">An Intranet Manager's guide to project success</a>
		</h3>
		<div class="c-teaser__content">
			Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
		</div>
	</div>
</div>
<div class="o-ui-row">
	<div class="c-teaser">
		<h4 class="c-teaser__source">Articles</h4>
		<h3 class="c-teaser__title">
			<a href="#" class="c-teaser__link">An Intranet Manager's guide to project success</a>
		</h3>
		<div class="c-teaser__content">
			Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
		</div>
	</div>
</div>
```
*/


/*doc
---
title: Teaser with byline
name: teaser_with_byline
category: Components - Teaser
---

```html_example
<div class="c-teaser">
	<h4 class="c-teaser__source">Articles</h4>
	<h3 class="c-teaser__title">
		<a href="#" class="c-teaser__link">An Intranet Manager's guide to project success</a>
	</h3>
	<div class="c-teaser__byline">By Chris Roane</div>
	<div class="c-teaser__content">
		Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
	</div>
</div>
```
*/

/*doc
---
title: Teaser with image and view more link
name: teaser_with_image_view_more
category: Components - Teaser
---

```html_example
<div class="o-grid">
  <div class="c-teaser">
    <div class="lg-4 c-teaser__image">
      <img src="http://placehold.it/300x186">
    </div>
    <div class="lg-8">
   	  <h3 class="c-teaser__title">
   		An Intranet Manager's guide to project success
   	  </h3>
   	  <p class="c-teaser__content">
   		Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
   	  </p>
   	  <a href="#" class="c-teaser__link">Read More</a>
    </div>
  </div>
</div>
```
*/

/*doc
---
title: Teaser with image and view more link in ui-row alternating
name: teaser_with_image_view_more_ui_row_alternating
category: Components - Teaser
---

```html_example
<div class="o-ui-row c-teaser--alternate-large">
    <div class="o-grid c-teaser">
      <div class="lg-4 c-teaser__image">
        <img src="http://placehold.it/300x186">
      </div>
      <div class="lg-8">
        <h3 class="c-teaser__title">
            An Intranet Manager's guide to project success
        </h3>
        <p class="c-teaser__content">
            Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
        </p>
        <a href="#" class="c-teaser__link">Read More</a>
      </div>
    </div>
</div>
<div class="o-ui-row c-teaser--alternate-large">
    <div class="o-grid c-teaser=">
      <div class="lg-4 c-teaser__image">
        <img src="http://placehold.it/300x186">
      </div>
      <div class="lg-8">
        <h3 class="c-teaser__title">
            An Intranet Manager's guide to project success
        </h3>
        <p class="c-teaser__content">
            Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
        </p>
        <a href="#" class="c-teaser__link">Read More</a>
      </div>
    </div>
</div>
<div class="o-ui-row c-teaser--alternate-large">
    <div class="o-grid c-teaser">
      <div class="lg-4 c-teaser__image">
        <img src="http://placehold.it/300x186">
      </div>
      <div class="lg-8">
        <h3 class="c-teaser__title">
            An Intranet Manager's guide to project success
        </h3>
        <p class="c-teaser__content">
            Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
        </p>
        <a href="#" class="c-teaser__link">Read More</a>
      </div>
    </div>
</div>
<div class="o-ui-row c-teaser--alternate-large">
    <div class="o-grid c-teaser">
      <div class="lg-4 c-teaser__image">
        <img src="http://placehold.it/300x186">
      </div>
      <div class="lg-8">
        <h3 class="c-teaser__title">
            An Intranet Manager's guide to project success
        </h3>
        <p class="c-teaser__content">
            Mindfulness. If you’re still thinking this is merely a touchy-feely trend practiced by yogis, creatives and the business elite – you’re way behind. Thousands of people in organizations around the world are now benefiting from the improved performance, communication, relationships...
        </p>
        <a href="#" class="c-teaser__link">Read More</a>
      </div>
    </div>
</div>
```
*/