/* ==========================================================================
   Form elements
   ========================================================================== */

/*doc
---
title: Forms
name: a_forms
category: Base - Forms
---

Default styling for form elements.  All of the elements should be used within
a `<form>` tag.  These will hit all form elements including those generated 
from drupal or Wordpress.

*/

// Breaks label onto it's own line
label { display: block; display:block; }





/*doc
---
title: Text inputs
name: a_text_inputs
category: Base - Forms
---

```html_example
<form>
  <p><label for="text_field">Text Field:</label>
    <input type="text" id="text_field"></p>

  <p><label for="text_area">Text Area:</label>
    <textarea id="text_area"></textarea></p>
</form>
```
*/

#{$all-text-inputs} {
	border: 1px solid #ddd;
	padding: .35rem;

	&:focus {
		box-shadow: none;
		outline: 0;
	}
}

textarea {
  min-height: rem(75);
  overflow: auto;
  resize: vertical;
  width: 100%;
}





/*doc
---
title: Fieldsets
name: d-fieldsets
category: Base - Forms
---

```html_example
<form>
	<fieldset>
		<input type="text" placeholder="First name">
	</fieldset>
</form>
```
*/

fieldset {
  border: 1px solid #ddd;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input[type="search"] {
  appearance: none;
}





/*doc
---
title: Checkbox/Radios
name: c-checkbox
category: Base - Forms
---

```html_example
<p><label for="checkboxes">Checkboxes:</label>
  <label>
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Checkbox 1
  </label>
  <label>
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_2"> Checkbox 2
  </label>
  <label>
    <input type="checkbox" class="checkbox" name="checkboxes" value="check_3"> Checkbox 3
  </label>
</p>

<p><label for="radio_buttons">Radio Buttons:</label>
  <label>
    <input type="radio" class="radio" name="radio_button" value="radio_1"> Radio 1
  </label>
  <label>
    <input type="radio" class="radio" name="radio_button" value="radio_2"> Radio 2
  </label>
  <label>
    <input type="radio" class="radio" name="radio_button" value="radio_3"> Radio 3
  </label>
</p>
```
*/

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}





/*doc
---
title: Select list
name: b-select-list
category: Base - Forms
---

```html_example
<p><label for="select_element">Select Element:</label>
  <select name="select_element">
    <optgroup label="Option Group 1">
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </optgroup>
    <optgroup label="Option Group 2">
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </optgroup>
</select></p>
```
*/

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

