/* ==========================================================================
   #Headings
   ========================================================================== */

/*doc
---
title: Headings
name: headings
category: Base - Headings
---

Default styling for headings 1-6

```html_example
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>
```
*/

h1,.alpha {
   @include font-size(rem(36));
}

h2,.beta {
	@include font-size(rem(30));
}

h3,.gamma {
	@include font-size(rem(24));
}

h4,.delta {
	@include font-size(rem(20));
}

h5,.epsilon {
	@include font-size(rem(16));
}

h6,.zeta {
	@include font-size(rem(14));
}