/* ==========================================================================
   #Images
   ========================================================================== */

/*doc
---
title: Images
name: images
category: Base - Images
---

Default styling for the image tag.  This sets a `max-width` of 100%
to make all images responsive

```html_example
<img src="http://placehold.it/100x100">
```
*/

img {
	max-width: 100%;
	height: auto;
}