/* ==========================================================================
   #Links
   ========================================================================== */

/*doc
---
title: Links
name: links
category: Base - Links
---

Default styling for links.

```html_example
<a href="#">Content</a>
```
*/

a {
  color: palette(brand, primary);
  text-decoration: none;
}

a:link,
a:visited { color: palette(brand, primary) }
a:hover   { color: darken(palette(brand, primary), 10%); }
a:active  {
  @include transition(color .3s);
  color: darken(palette(brand, primary), 10%);
}

