/* ==========================================================================
   #Lists
   ========================================================================== */

/*doc
---
title: Lists
name: lists
category: Base - Lists
---

Default styling for lists.
*/

ul,
ol {
  list-style-type: none;
  padding: 0;
}




/*doc
---
title: Unordered List
name: lists-u
category: Base - Lists
---

Unordered list default

```html_example
<ul>
  <li>List item 1</li>
  <li>List item 2</li>
</ul>
```
*/

ul {
	list-style-type: disc;
	padding-left: $base-spacing;
}




/*doc
---
title: Ordered List
name: lists-o
category: Base - Lists
---

```html_example
<ol>
  <li>List item 1</li>
  <li>List item 2</li>
</ol>
```
*/

ol {
	list-style-type: decimal;
	padding-left: $base-spacing;
}





/*doc
---
title: Definition list
name: lists-d
category: Base - Lists
---

```html_example
<dl>
  <dt>Term</dt>
  <dd>Description</dd>
  <dt>Term</dt>
  <dd>Description</dd>
</dl>
```
*/

dl {
  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}