/* ==========================================================================
   #Page
   - High level page styling, HTML tag only.
   ========================================================================== */

/*doc
---
title: Page
name: page
category: Base - Page
---

This file contains settings for the entire site with font-family, line-height, 
and font size values.  These should only be adjusted at the very beginning
of a project.

Variables can be found in `settings/_global.scss`.

```
html {
	font-family: $f-sans;
	line-height: $base-line-height; // usually 24px
	font-size: $base-font-size-px; // usually 16px
	overflow-y: scroll;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
```
*/

html {
	font-family: $f-sans;
	line-height: $base-line-height;
	font-size: $base-font-size-px;
	overflow-y: scroll;
	min-height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    @include media($medium) {
        font-size: $base-font-size-px-medium;
    }
}