/* ==========================================================================
   #Block quotes
   ========================================================================== */

/*doc
---
title: Block quotes
name: quotes
category: Base - Block quotes
---

Default styling for block quotes.

```html_example
<blockquote>
	This is a special quote for sure <cite>By someone special</cite>
</blockquote>
```
*/

blockquote {
	@extend .o-box;
    font-size:2rem;
	// Author
	cite {
      display: block;
      font-weight: $bold;
      font-size:1.5rem;
      font-style: normal;
      text-align: center;
      &:before {
        content:" - ";
      }
    }
}