/* ==========================================================================
   #Tables
   ========================================================================== */

/*doc
---
title: Tables
name: tables
category: Base - Tables
---

Default styling for tables.

```html_example
<table>
	<thead>
		<tr>
			<th>One column</th>
			<th>Two column</th>
			<th>Three column</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>One column</td>
			<td>Two column</td>
			<td>Three column</td>
		</tr>
		<tr>
			<td>One column</td>
			<td>Two column</td>
			<td>Three column</td>
		</tr>
		<tr>
			<td>One column</td>
			<td>Two column</td>
			<td>Three column</td>
		</tr>
	</tbody>
</table>
```

*/

table {
	border-collapse: collapse;
	font-feature-settings: "kern", "liga", "tnum";
	margin: $small-spacing 0;
	table-layout: fixed;
	width: 100%;
}

th {
	border-bottom: 1px solid shade(#ddd, 25%);
	font-weight: 600;
	padding: $small-spacing 0;
	text-align: left;
}

td {
	border-bottom: 1px solid #ddd;
	padding: $small-spacing 0;
}

tr,
td,
th {
	vertical-align: middle;
}