
/* ==========================================================================
   #Type
   ========================================================================== */

// Setting base font-size and line-height
body {
	font-size: $base-font-size;
	line-height: $base-line-height;
}


// Default HR styling
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}