
/* ==========================================================================
   #Mixins
   ========================================================================== */


/* Grid class generator
   ========================================================================== */

@mixin grid-class($from, $to) {
  @include media($small) {
    @for $i from $from through $to {
      .sm-#{$i} {
        @include span-columns($i); 
      }
    }
  }
  @include media($medium) {
    @for $i from $from through $to {
     .md-#{$i} {            > div:first-child {
       float:right;
     }
        @include span-columns($i); 
      }
    }
  }
  @include media($large) {
    @for $i from $from through $to {
    .lg-#{$i} {
      //document where these live
        @include span-columns($i); 
      }
    }
  }
}

// Runs the above mixin
@include grid-class(1,12);


// Mixin to generate shift classes
@mixin shift-classes() {
  @include media($small) {
    @for $i from 1 through 12 {
      .sm-shift-#{$i} { @include shift($i); }
    }
  }
  @include media($medium) {
    @for $i from 1 through 12 {
      .md-shift-#{$i} { @include shift($i); }
    }
  }
  @include media($large) {
    @for $i from 1 through 12 {
      .lg-shift-#{$i} { @include shift($i); }
    }
  }
}

// Actually generates shift classes.
@include shift-classes();





/* Palette mixin
   ========================================================================== */
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}





/* Font size mixin
   ========================================================================== */

@mixin font-size($tbf-font-size, $tbf-line-height: auto) {
  font-size: $tbf-font-size;

  @if $tbf-line-height == auto {
    $px: strip-units($tbf-font-size) * $base-font-size-px;
    line-height: ceil($px / $base-line-height-px) * ($base-line-height-px / $px);
  }

  @else {

      @if (type-of($tbf-line-height) == number or $tbf-line-height == inherit or $tbf-line-height == normal) {
          line-height: $tbf-line-height;
      }

      @elseif ($tbf-line-height != none and $tbf-line-height != false) {
          @warn "Doh! #{$tbf-line-height} is not a valid value for line-height.";
      }

  }
}




/* Other mixins
   ========================================================================== */

@mixin remove-bullets() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



// Overlay for mobile menu

@include keyframes(fadeInOverlay) {
  from {
    opacity: 0;
  }
  to {
    opacity: .5;
  }
}

// Flipping layout for even items(2n) on rows with 2-3 columns
@mixin alternate-float {
  &:nth-child(2n) {
    .o-grid {
      > div:first-child {
        float:right;
        margin-right: 0;
      }

      > div:last-child {
        margin-right: inherit;
      }

    }
  }
}