/* ==========================================================================
   Colors
   ========================================================================== */

/*doc
---
title: Colors
name: colors
category: Base - Colors
---

<div class="c-color-swatch t-bg-black">t-bg-black<br>#000
</div>
<div class="c-color-swatch t-bg-white">t-bg-white<br>#fff
</div>
<div class="c-color-swatch t-bg-primary">t-bg-primary<br>palette(brand, primary)
</div>
<div class="c-color-swatch t-bg-secondary">t-bg-secondary<br>palette(brand, secondary)
</div>
<div class="c-color-swatch t-bg-dusty-gray">t-bg-dusty-gray<br>palette(gray, medium)
</div>
<div class="c-color-swatch t-bg-light-gray">t-bg-light-gray<br>palette(gray, light)
</div>
<div class="c-color-swatch t-bg-light-blue">t-bg-light-blue<br>palette(blue, light)
</div>
<div class="c-color-swatch t-bg-medium-blue">t-bg-medium-blue<br>palette(blue, medium)
</div>
<div class="c-color-swatch t-bg-dark-blue">t-bg-dark-blue<br>palette(blue, dark)
</div>


*/

// Colorful

// Reds
$mexican-red    :  #9b282b;/*lets try here */
$wild-watermelon :  #ff5584;

// Blues
$cello          :  #1e3756;
$malibu         :  #7d87ff;
$cornflower     :  #95b6ec;

// Green
$citron         :  #9fba22;
$screamin-green :  #77fa6f;


// Yellow
$sahara-sans    :  #f3ec84;


// Gray's & Blacks

$mineshaft      :  #242424;
$mercury        :  #e7e7e7;
$silver         :  #c6c6c6;
$boulder      :  #747474;
$dusty-gray     :  #999;


// Palette setup

$palettes: (
  brand: (
    primary: $screamin-green,
    secondary: $wild-watermelon
  ),
  blue: (
    light:$cornflower,
    medium:$malibu,
    dark:$cello
  ),
  gray: (
    light:$mercury,
    medium:$dusty-gray,
    medium-dark:$boulder,
    dark:$mineshaft
  )
);

// DOC SWATCH

.c-color-swatch {
  border: 1px solid #ccc;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 1.5rem;
  padding: 1.5rem;
}