/* ==========================================================================
   #Global variables
   ========================================================================== */



/* ==========================================================================
   Fonts
   ========================================================================== */

  // Raw fonts

  $f-sans     :  "Proxima Nova" ,sans-serif;
  $f-serif    :  "minion-pro",serif;
  $f-cond     :  'Tungsten', sans-serif;


  // Font weights

  $light      :  300;
  $regular    :  500;
  $bold       :  700;





/* ==========================================================================
   Misc
   ========================================================================== */

	$br-default  : 5px;
	$br-small    : 2px;

	// High-level base settings.
	$base-font-size:          1rem !default;
    $base-font-size-px:       13px !default;
    $base-font-size-px-medium:       16px !default;
	$base-line-height:         1.5 !default;
	$base-line-height-px:     24px !default;




  
/* ==========================================================================
   Spacing
   ========================================================================== */

	$base-spacing    :  $base-line-height * 1rem;
  $small-spacing   :  $base-spacing / 2;

/* ==========================================================================
    BEM Inspection Classes - commented out by default
   ========================================================================== */

/*
[class^="o-"],
[class*=" o-"] {
  outline: 5px solid orange;
}

[class^="c-"],
[class*=" c-"] {
  outline: 5px solid cyan;
}

[class^="u-"],
[class*=" u-"] {
  outline: 5px solid violet;
}

[class^="_"],
[class*=" _"] {
  outline: 5px solid red;
}
*/