@import  "neat-helpers";  // DO NOT REMOVE

/* ==========================================================================
   #Grid Settings
   ========================================================================== */

// This partial is required to be imported before neat.
// Do not remove this from app.scss.





/* Grid variables
   ========================================================================== */
$max-width   :  rem(1200) !global;
$gutter: modular-scale(1, 2em, $golden) !global;





/* Media Queries
   ========================================================================== */

// Small
$small         : new-breakpoint(min-width 0);
$small-only    : new-breakpoint(min-width 0 max-width 640px);

// Small - Medium
$small-medium  : new-breakpoint(min-width 0 max-width 1024px);

// Medium
$medium        : new-breakpoint(min-width 640px);
$medium-only   : new-breakpoint(min-width 640px max-width 1024px);

// Large
$large         : new-breakpoint(min-width 1024px);

// xLarge
$xlarge         : new-breakpoint(min-width 1200px);

