/* ==========================================================================
   #o-Bands
   ========================================================================== */

/*doc
---
title: Default band
name: band
category: Object - Band
---

Bands are full-width sections of layout with padding on the top and bottom that can contain different backgrounds

```html_example
<div class="o-band wf">
	<div>[components go here]</div>
</div>
```
*/

.o-band {
	padding: 4rem 0;
}





/*doc
---
title: Small band
name: small-band
category: Object - Band
---

Small band has decreased top and bottom padding.

```html_example
<div class="o-band--small wf">
	<div>[components go here]</div>
</div>
```
*/

.o-band--small {
	padding: 2rem 0;
}





/*doc
---
title: Flush band
name: flush-band
category: Object - Band
---

Flush band removes all padding.

```html_example
<div class="o-band--flush wf">
	<div>[components go here]</div>
</div>
```
*/

.o-band--flush {
	padding: 0;
}


   