/* ==========================================================================
   Box
   ========================================================================== */

/*doc
---
title: Box
name: box
category: Object - Box
---

Box should be applied to anything with padding all the way around.

```html_example
<div class="o-box">
	<div>Base spacing box</div>
</div>
<br>
<div class="o-box--small o-box--highlight">
	<div>Small box with highlight</div>
</div>		
```
*/

.o-box {
	display: block;
	padding: $base-spacing;

	@include media($large) {
		padding: $base-spacing;
	}
}

.o-box--small {
	@extend .o-box;
	padding: $small-spacing;
}
