/* ==========================================================================
   #o-Grid
   ========================================================================== */


.o-grid {
	padding: 0 1rem;
	@include outer-container;
	
	.o-grid {
		padding: 0;
	}
}




/* ==========================================================================
   #Block-grid
   ========================================================================== */

/* Small block grids
   ========================================================================== */

.bg-sm-2 > li {
	@include media($small-only) {
		@include span-columns(6);
		@include omega(2n);
	}
}


/* Medium block grids
   ========================================================================== */

.bg-md-1 > li {
	@include media($medium-only) {
		@include span-columns(12);
		@include omega(1n);
	}
}

.bg-md-2 > li {
	@include media($medium-only) {
		@include span-columns(6);
		@include omega(2n);
	}
}

.bg-md-3 > li {
	@include media($medium-only) {
		@include span-columns(4);
		@include omega(3n);
	}
}

.bg-md-4 > li {
	@include media($medium-only) {
		@include span-columns(3);
		@include omega(4n);
	}
}

.bg-md-5 > li {
	@include media($medium-only) {
		@include span-columns(2 of 10);
		@include omega(5n);
	}
}

.bg-md-6 > li {
	@include media($medium-only) {
		@include span-columns(2 of 12);
		@include omega(6n);
	}
}


/* Large block grids
   ========================================================================== */

.bg-lg-1 > li {
	@include media($large) {
		@include span-columns(12);
		@include omega(1n);
	}
}

.bg-lg-2 > li {
	@include media($large) {
		@include span-columns(6);
		@include omega(2n);
	}
}

.bg-lg-3 > li {
	@include media($large) {
		@include span-columns(4);
		@include omega(3n);
	}
}

.bg-lg-4 > li {
	@include media($large) {
		@include span-columns(3);
		@include omega(4n);
	}
}

.bg-lg-5 > li {
	@include media($large) {
		@include span-columns(2 of 10);
		@include omega(5n);
	}
}

.bg-lg-6 > li {
	@include media($large) {
		@include span-columns(2 of 12);
		@include omega(6n);
	}
}

.bg-lg-7 > li {
	@include media($large) {
		@include span-columns(2 of 14);
		@include omega(7n);
	}
}

.bg-lg-8 > li {
	@include media($large) {
		@include span-columns(2 of 16);
		@include omega(8n);
	}
}

.bg-lg-9 > li {
	@include media($large) {
		@include span-columns(2 of 18);
		@include omega(9n);
	}
}

.bg-lg-10 > li {
	@include media($large) {
		@include span-columns(2 of 20);
		@include omega(10n);
	}
}

