/* ==========================================================================
   Nav object
   ========================================================================== */

/*doc
---
title: Default
name: nav-ob
category: Object - Nav
---

Displays list inline.

```html_example
<ul class='o-nav'>
  <li><a href='#'>Home</a></li>
  <li><a href='#'>About</a></li>
  <li><a href='#'>Portfolio</a></li>
  <li><a href='#'>Contact</a></li>
</ul>
```
*/

.o-nav{
  list-style:none;
  margin-left:0;
  padding-left: 0;

  > li{

    &,
    > a {
        // Displays block for small screens
        @include media($small-only) {
          display: block;
        }

        // Displays in-line for all medium up
        display:inline-block;
       *display:inline;
        zoom:1;
    }
  }
}





/*doc
---
title: Stacked
name: nav-ob-stacked
category: Object - Nav
---

`.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.

```html_example
<ul class='o-nav o-nav--stacked'>
  <li><a href='#'>Home</a></li>
  <li><a href='#'>About</a></li>
  <li><a href='#'>Portfolio</a></li>
  <li><a href='#'>Contact</a></li>
</ul>
```
*/

.o-nav--stacked{
  > li {
    display:list-item;

    > a {
        display:block;
    }
  }
}





/*doc
---
title: Banner
name: nav-ob-banner
category: Object - Nav
---

`.nav--banner` extends `.nav` and centers the list, e.g.:

```html_example
<ul class='o-nav o-nav--banner'>
  <li><a href='#'>Home</a></li>
  <li><a href='#'>About</a></li>
  <li><a href='#'>Portfolio</a></li>
  <li><a href='#'>Contact</a></li>
</ul>
```
*/

.o-nav--banner{
    text-align:center;
}
