/* ==========================================================================
   UI row
   ========================================================================== */

/*doc
---
title: UI Row
name: ui-row
category: Object - UI Row
---

Provides padding on the top and bottom of a row along with a border.

```html_example
<div class="o-ui-row">
	<p>Components go here.</p>
</div>
```
*/

.o-ui-row {
	
	border-bottom: 1px solid #ccc;
	padding: 3rem 0;
	@include outer-container;

	// Small variation reduces padding.
	&--small {
		padding: 2rem 0;
	}

	// Flush variation removes padding altogether
	&--flush {
		padding: 0;
	}

	// Removes border of last ui row
	&:last-child {
		border-bottom: 0;
		padding-bottom: 0;
	}

	&:first-child { padding-top: 0; }
	
}


