/* ==========================================================================
   #Video
   ========================================================================== */

/*doc
---
title: Video
name: video
category: Object - Video
---

This is a port of foundations `flex video`.  Add this as a wrapper around any video code
to make it work responsively.

```html_example
<p>Example</p>
```
*/

.o-video {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  position: relative;

  embed,
  object,
  iframe {
    @include position(absolute, 0px null null 0px);
    @include size(100%);
  }
}