
/* ==========================================================================
   #Trumps
   ========================================================================== */

/* Visibility classes
   ========================================================================== */

/*doc
---
title: Visibility Classes
name: vis_class
category: Trumps - Visibility Classes
---

Classes you can use in the HTML to affect the visibility of an element.
Two vartions are available:  `.t-show` and `.t-hide`.

Class           |  Description
----------------|---------------
`.t-hide`| Hides element
`.t-show`| Shows element

```html_example
<div class="t-show">
	[This element is visible!]
</div>
```
*/

.t-hide { display: none !important; }
.t-show { display: block !important; }




/* Float classes
   ========================================================================== */

/*doc
---
title: Float Classes
name: flo_class
category: Trumps - Float Classes
---

Classes you can use in the HTML to affect the visibility of an element.  Use `.t-left` to float an element
to the left, and use `.t-right` to float to the right.

Class           |  Description
----------------|---------------
`.t-left`| Aligns element to the left
`.t-right`| Aligns element to the right

```html_example
<div class="o-box" style="background: #ececec; ">
	<img src="http://placehold.it/150x75" class="t-left">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum saepe aspernatur, nostrum excepturi consequatur? Est, natus aspernatur error delectus facere asperiores dolorem cum enim harum consectetur! Tempore, vero tempora cupiditate.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum saepe aspernatur, nostrum excepturi consequatur? Est, natus aspernatur error delectus facere asperiores dolorem cum enim harum consectetur! Tempore, vero tempora cupiditate.
</div>
<br>
<div class="o-box" style="background: #ececec; ">
	<img src="http://placehold.it/150x75" class="t-right">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum saepe aspernatur, nostrum excepturi consequatur? Est, natus aspernatur error delectus facere asperiores dolorem cum enim harum consectetur! Tempore, vero tempora cupiditate.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum saepe aspernatur, nostrum excepturi consequatur? Est, natus aspernatur error delectus facere asperiores dolorem cum enim harum consectetur! Tempore, vero tempora cupiditate.
</div>



```
*/

.t-left { float: left !important; }
.t-right { float: right !important; }


/* Text align classes
   ========================================================================== */


/*doc
---
title: Text Align Classes
name: tex_class
category: Trumps - Text Align Classes
---

Classes you can use in the HTML to affect the visibility of an element.  Use the following classes
to adjust text alignment: 

Class           |  Description
----------------|---------------
`.t-text-left`| Aligns text to the left
`.t-text-center`| Aligns text to the center
`.t-text-right`| Aligns text to the right


```html_example
<ul class="bg-md-3 bg-lg-3">
	<li class="o-box wf t-text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic corporis quidem omnis cumque praesentium, consequatur nostrum minus. Aliquid, delectus incidunt repudiandae eveniet cupiditate nobis!</li>
	<li class="o-box wf t-text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic corporis quidem omnis cumque praesentium, consequatur nostrum minus. Aliquid, delectus incidunt repudiandae eveniet cupiditate nobis!</li>
	<li class="o-box wf t-text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic corporis quidem omnis cumque praesentium, consequatur nostrum minus. Aliquid, delectus incidunt repudiandae eveniet cupiditate nobis!</li>
</ul>
```
*/

.t-text-left { text-align: left !important; }
.t-text-right { text-align: right !important; }
.t-text-center { text-align: center !important; }





/* Font family trumps
   ========================================================================== */

/*doc
---
title: Font family
name: name
category: Trumps -  Font Family
---

```html_example
<h4 class="t-sans">This is a heading which is normally serif.</h4>
<p class="t-serif">This is a paragraph which is normally sans-serif.</p>
```
*/

.t-sans { font-family: $f-sans; }
.t-serif { font-family: $f-serif; }





/* BG Colors
   ========================================================================== */

/*doc
---
title: Background colors
name: bg-colors
category: Trumps - Background colors
---

```html_example
<p class="t-bg-white">Example</p>
<p class="t-bg-primary">Example</p>
<p class="t-bg-secondary">Example</p>
<p class="t-bg-dusty-gray">Example</p>
<p class="t-bg-stitched">Example</p>
```
*/

// White
.t-bg-white { background-color: #fff; }

// Black
.t-bg-black  { background-color: #000; }

//Primary
.t-bg-primary {background-color:palette(brand, primary);}

//Secondary
.t-bg-secondary {background-color:palette(brand, secondary);}

//Grays
.t-bg-dusty-gray {background-color:palette(gray, medium);}

.t-bg-light-gray {background-color:palette(gray, light);}

//Blues
.t-bg-light-blue {background-color:palette(blue, light);}

.t-bg-medium-blue {background-color:palette(blue, medium);}

.t-bg-dark-blue {background-color:palette(blue, dark);}



/* Margin trumps
   ========================================================================== */

/*doc
---
title: Margin
name: margin-classes
category: Trumps - Margin classes
---

```html_example
<p class="t-mbr">Margin base right</p>
<p class="t-msr">Margin small right</p>
<p class="t-mbl">Margin base left</p>
<p class="t-msl">Margin small left</p>
<p class="t-mbb">Margin base bottom</p>
<p class="t-msb">Margin small bottom</p>
<p class="t-mbt">Margin base top</p>
<p class="t-mst">Margin small top</p>
```
*/

.t-mbr { margin-right: $base-spacing; }
.t-msr { margin-right: $small-spacing; }
.t-mbl { margin-left: $base-spacing;}
.t-msl { margin-left: $small-spacing;}
.t-mbb { margin-bottom: $base-spacing;}
.t-msb { margin-bottom: $small-spacing;}
.t-mbt { margin-top: $base-spacing;}
.t-mst { margin-top: $small-spacing;}

.t-nom { margin: 0; }




/* Padding trumps
   ========================================================================== */

/*doc
---
title: Padding
name: padding-classes
category: Trumps - Padding classes
---

```html_example
<p class="t-pbr">Padding base right</p>
<p class="t-psr">Padding small right</p>
<p class="t-pbl">Padding base left</p>
<p class="t-psl">Padding small left</p>
```
*/

.t-pbr { padding-right: $base-spacing; }
.t-psr { padding-right: $small-spacing; }
.t-pbl { padding-left: $base-spacing;}
.t-psl { padding-left: $small-spacing;}
.t-nop { padding: 0; }
.t-nopb { padding-bottom: 0; }


/* centering trumps
   ========================================================================== */

/*doc
---
title: centering
name: centering-classes
category: Trumps - Centering classes
---

```html_example
<div><p class="t-center" style="width:300px;">Centered fixed width</p></div>

<div class="t-flex-center"><div class="o-box"><h2>A title</h2><h3>A subheader</h3><h4>A second subheader</h4></div></div>
```
*/

.t-center {
  margin-right: auto;
  margin-left: auto;
}
.t-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* Style-guide trumps
   ========================================================================== */

// Use for style-guide examples that need a bg color but 
// don't have one by default

.wf { background: #ccc; }

